<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style type="text/css">
  * {
    margin: 0;
    padding: 0;
  }
  </style>
</head>
<body>
<div id="gameContainer"></div>
<noscript>👽 Please enable Javascript 👽</noscript>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Geo']
    }
  });
</script>
</body>
</html>
